@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-slate-50 text-slate-800 antialiased overflow-x-hidden;
  }
}

@layer components {
  .container {
    @apply max-w-[1200px] mx-auto px-4;
  }
}


/* Hide scrollbar utility for carousels */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
